<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../public/images/logo.png">
    <link rel="stylesheet" href="../public/styles/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title> 404 Page </title>
</head>
<body>
    <section class="error_wrapper">
        <section>
            <img src="../public/images/error.svg" />
            <main>
                <h1>Oops!</h1>
                <p>You have done the wrong thing again!. Click on the button and go back abeg.</p>
                <a href="/">Go Home!</a>
            </main>
        </section>
    </section>
</body>
</html>