<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../public/images/logo.png">
    <link rel="stylesheet" href="../public/styles/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title> Index Page </title>
</head>
<body>
    <section class="index_wrapper">
        <section class="inner">
            <header class="index_header">
                <nav>
                    <h1>Todoly</h1>
                    <span>
                        <a href="/login"> Login </a>
                        <a href="/signup"> Sign Up </a>
                    </span>
                </nav>
            </header>
            
            <main class="index_body">
                <section class="body_text">
                    <h1>Make <b>Every Day</b> Your Best Day with <b>Todoly</b></h1>
                    <p>Welcome to the ultimate productivity solution you've been waiting for. Our cutting-edge todo app, Todoly,
                        is designed to transform your daily routine into a seamless and organized experience</p>
            
                    <span>
                        <p>Embrace the power of prioritization, and reclaim your time for what truly matters. Join us on a journey
                            to a more organized and fulfilling life with Todoly
                        </p>
                        <a href="/signup">Get Started</a>
                    </span>
                </section>
            
                <img src="../public/images/index_todo1.svg" />
            </main>
        </section>

        <footer>
            <p>&copy; 2023 Todoly. All rights reserved.</p>

        </footer>
    </section>
</body>
</html>