// primary color gradient
$color1: hsl(192, 100%, 67%);
$color2: hsl(280, 87%, 65%);

// colors
$baseColor: #181823;
$brightBlue: hsl(220, 98%, 61%);
$lightGray: hsl(0, 0%, 98%);
$darkBlue: hsl(235, 24%, 19%);
$grayBlue: hsl(234, 39%, 85%);
$grayBlueHover: hsl(236, 33%, 92%);

// font family
$fontFamily: 'Josefin Sans', sans-serif;

// define mixin
@mixin center {
    position: absolute;
    top: 25%;
}

.body_wrapper{
    padding: 0;
    margin: 0;
    background-color: $baseColor;
    font-family: $fontFamily;
    width: 100%;
    height: 100%;
    color: white;

    .main_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: inherit;
        width: 100%;
        align-items: center;  

        .img{
            background-image: url('../../public/images/bg-desktop-dark.jpg');
            width: 100%;
            height: 23rem;
            background-size: cover;
        }

        .main_body {
            height: 80vh;
            width: 45%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 35px;
            @include center;

            .header{
                display: flex;
                height: fit-content;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 30px;
                    height: 30px;
                }

                h1{
                    font-size: 40px;
                    letter-spacing: 10px;
                    margin: 0;
                }
            }

            .create_todo{
                display: flex;
                align-items: center;
                padding: 13px 20px;
                background-color: $darkBlue;
                gap: 15px;
                border-radius: 7px;

                // redo
                input[type="checkbox"] {
                    height:1.5em;
                    width:1.5em;
                    cursor:pointer;
                }

                .input_create{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    padding: 13px;
                    color: $lightGray;
                }
                .input_create::placeholder{
                    font-size: 17px;
                    color: $lightGray;
                    opacity: 0.3;
                }
            }

            .existing_todo {
                height: fit-content;
                box-shadow: 0px 20px 25px #161621;
                background-color: $darkBlue;
                border-radius: 7px;

                .created_todo{
                display: flex;
                align-items: center;
                padding: 15px 20px;
                background-color: $darkBlue;
                gap: 15px;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.202);

                // redo
                input[type="checkbox"] {
                    height:1.5em;
                    width:1.5em;
                    cursor:pointer;
                }

                .input_create{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    padding: 15px;
                }
                .input_create::placeholder{
                    font-size: 18px;
                    color: $grayBlue;
                }
                }

                .nav {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    color: $lightGray;
                    
                    p {
                        opacity: 0.3;
                    }
                    nav {
                        display: flex;
                        gap: 20px;
                        
                        a{
                            font-weight: bold;
                            color: $lightGray;
                            opacity: 0.3;
                            text-decoration: none;
                        }
                        a:first-child{
                                color: $brightBlue;
                                opacity: 0.7;
                            }
                    }

                }
            }

            p{
                font-size: 15px;
                color: $lightGray;
                margin: 0;
                text-align: center;
                opacity: 0.6;
            }
        }

        @media screen and (max-width: 1084px) {
                .main_body {
                    width: 70%;
                }
            }

        @media screen and (max-width: 621px) {
                .main_body {
                    width: 85%;
                }
            }

        @media screen and (max-width: 467px) {
                .main_body {
                    width: 90%;

                    .existing_todo{
                        .nav{
                            font-size: 12px;
                            p:last-child{
                                display: none;
                            }
                        }
                    }
                }
            }
    }
}

.login_wrapper,
.sign_up_wrapper{
    padding:15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontFamily;

    .login_main,
    .sign_up_main{
        display: flex;
        gap: 40px;
        justify-content: center;

        img{
            width: 45%;
        }

        form{
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            h1{
                font-size: 40px;
                margin: 0;
            }

            section{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;

                span{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    label{
                        font-size: 18px;
                    }

                    input{
                        padding-block: 15px;
                        border-radius: 3px;
                        border: 0.5px solid gray;
                        padding-inline: 14px;
                    }
                }
            }

            button{
                    padding-block: 15px;
                    padding-inline: 5px;
                    background-color: $brightBlue;
                    border: none;
                    color: white;
                    border-radius: 4px;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover {
                        opacity: .7;
                    }
                    
                }
            p{
                a{
                    color: $brightBlue;
                    
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        @media screen and (max-width: 950px) {
            img {
                display: none;
            }

            form{
                width: 90vw;
            }
        }
    }

}